{% extends "base.html" %}
{% block content %}
<head>
    <title>Line Chart</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
     <link href="../static/css/styles.css" rel="stylesheet" />
    <style>
    .card {
        margin-top: 30px;
        margin-top: -10px;
        margin-left: 25px;
    }
    .card {
      margin-right: 25px; 
      border: 1px solid black;
    }
    .card-header {
      background-color: blue;
      color: white; 
    }
    .chartjs-text {
        color: black;
    }
    body {
      background-color: beige;
    }

</style>
</head>
    <body >
        <div class="container-fluid px-4">
              <h3 class="mt-4">Dashboard</h3>
              <i class="fas fa-user"<p>Logged in as : {{session.name}}</i></p>
        </div>
        
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card shadow mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-area me-1"></i>
                                        Line Chart Mean For Each Parameters
                                    </div>
                                    <div class="card-body"><canvas id="myLineChart" width="600%" height="300" margin="0 auto"></canvas></div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card shadow mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-bar me-1"></i>
                                        Explanation
                                    </div>
                                    <div class="card-body"><canvas id="myBarChart" width="50%" height="0"></canvas></div>
                                    <div class="text-center">
                                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                                            src="../static/image/undraw_posting_photo.svg">
                                    </div>
                                    <p align="justify" style="padding: 12px;"><i>The line chart on the left side refers to the average value of different water quality parameters that are being monitored or measured. 
                                     For example, a decrease in the mean value of DO could indicate the presence of pollutants in the water, while an increase in the mean value of EC could indicate the presence of dissolved salts.
                                    Visualizing the mean values of these parameters using a line chart can help in monitoring the water quality status and making informed decisions for improving it.</p></i>
                            </div>
                        </div>
                        <div class="row">
                                    <div class="col-xl-6">
                                        <div class="card shadow mb-4 ">
                                            <div class="card-header">
                                                <i class="fas fa-chart-bar me-1"></i>
                                                Heatmap
                                            </div>
                                            <div class="card-body">
                                                <img src="../static/image/heatmap.PNG" width="100%" height="500" margin="0 auto">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="card shadow mb-4 ">
                                            <div class="card-header">
                                                <i class="fas fa-chart-bar me-1"></i>
                                                Explanation
                                            </div>
                                            <div class="text-center">
                                                <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 20rem;"
                                                    src="../static/image/Male-Teacher-PNG-Clipart.png">
                                            </div>
                                             <p align="justify" style="padding: 12px;"><i>A heatmap is a graphical representation of data where colors are used to represent values in a matrix. 
                                             By analyzing the heatmap, it is possible to identify areas with high or low concentrations of a specific water quality parameter. Heatmaps can provide valuable insights into the spatial and temporal distribution of water quality parameters and can help in identifying potential sources of pollution or areas that require remediation measures.</p></i>
                                        </div>
                                    </div>
                       </div>
                        

<script>
  var doArr = [4.277619];
  var phArr = [6.866733];
  var orpArr = [169.880271];
  var ecArr = [923.265912];
  var tdsArr = [61.012885];
  var waterTempArr = [24.352804];
  var cdoArr = [1.704064];
  var cphArr = [2.931005];
  var corpArr = [2.104892];
  var cecArr = [2.365782];
  var ctdsArr = [2.335605];
  var cwtArr = [3.107204];
  var colors = [
    "#ff6384",
    "#36a2eb",
    "#ffce56",
    "#fd6b19",
    "#17a2b8",
    "#fd7e14",
    "#6f42c1",
    "#007bff",
    "#28a745",
    "#ffc107",
    "#dc3545",
    "#6c757d",
  ];

  var ctx = document.getElementById("myLineChart").getContext("2d");
  var chart = new Chart(ctx, {
    type: "line",
    data: {
      labels: [
        "DO",
        "pH",
        "ORP",
        "EC",
        "TDS",
        "Water_Temp",
        "CDO",
        "CpH",
        "CORP",
        "CEC",
        "CTDS",
        "CWT",
      ],
      datasets: [
        {
          label: "Mean",
          data: [
            doArr[0],
            phArr[0],
            orpArr[0],
            ecArr[0],
            tdsArr[0],
            waterTempArr[0],
            cdoArr[0],
            cphArr[0],
            corpArr[0],
            cecArr[0],
            ctdsArr[0],
            cwtArr[0],
          ],
          borderColor: colors,
          borderWidth: 1,
          fill: false,
        },
      ],
    },
    options: {
      scales: {
        yAxes: [
          {
            ticks: {
              beginAtZero: true,
            },
          },
        ],
      },
      responsive: false,
      plugins: {
        legend: {
          display: true,
          labels: {
            font: {
              size: 16,
            },
          },
        },
      },
      // Add this line to set the background color
      backgroundColor: "black",
    },
  });
</script>


{% endblock %}
