{% extends "base.html" %}
{% block content %}
<body >
<header>
 <link href="../static/css/styles.css" rel="stylesheet" />
		<div class="container", style="text-align: center;">
		<img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="../static/image/1svm.png">
    		<h3 style="color:black;"<strong>One Class SVM</strong></h3>
    		<h6 style="color:black;"<strong>Explanation why One Class SVM method is choosen compare to Isolation Forest method</strong></h6>
    		<p align="justify" style="padding: 12px;">
              <i>
                  One-Class SVM:

                    The One-Class SVM is a machine learning algorithm used for anomaly detection, particularly in situations where only one class of data is available for training.
                    In this context, the One-Class SVM was applied to identify outliers in the training dataset. It separates the data into two classes: inliers (normal data) and outliers (anomalies).
                    By fitting the One-Class SVM on the training data, it learns the characteristics of the majority class and tries to classify new instances as inliers or outliers.
                    The resulting MAE of 0.153 suggests that the One-Class SVM method performed relatively well in predicting the output values, with a relatively low average absolute error between the predicted and actual values.
              </i>
            </p>
            <p align="justify" style="padding: 12px;">
              <i>
                  Isolation Forest:

                    Isolation Forest is another popular anomaly detection algorithm that isolates outliers by randomly selecting a feature and then randomly selecting a split value between the maximum and minimum values of that feature.
                    It isolates anomalies by creating partitions or splits in the data, considering that outliers are more likely to be isolated in smaller partitions.
                    The Isolation Forest algorithm aims to separate anomalies from normal instances by constructing a binary tree structure. The anomalies are expected to have shorter average path lengths in the tree.
                    In this case, the Isolation Forest method resulted in an MAE of 0.154, indicating a slightly higher average absolute error compared to the One-Class SVM.
              </i>
            </p>
		</div>
</header>

       

    	
{% endblock %}
	
	

</body>