<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>WATER QUALITY MONITORING SYSTEM</title>
        <link href="../static/css/styles.css" rel="stylesheet" />
        <link href="../static/css/styles2.css" rel="stylesheet" />
    
         
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    </head>
<body style="background-image: url('../static/image/quality.jpg'); background-repeat: no-repeat; background-size: cover;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                     <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-register-image"></div>
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                                        </div>
                                        <form action="/register" method="POST">
                            				<div class="text-center msg">{{ msg }}</div> 
                            					<input id="username" name="username" type="text" placeholder="Enter Your Username" class="form-control form-control-msg"/></br>
                            					<input id="password" name="password" type="password" placeholder="Enter Your Password" class="form-control form-control-msg"/></br> 
                            					<input id="email" name="email" type="text" placeholder="Enter Your Email ID" class="form-control form-control-msg"/></br>
                            					<input type="submit" class="btn btn-success btn-user btn-block" onclick="return confirm('Are You Sure To Register?')" value="Sign Up"></br> 
                            			</form>
                                        <div class="text-center">
                                            <a class="small" href="{{url_for('login')}}"><strong>Already have an account? Login Here</strong></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

   
    <!-- Custom scripts for all pages-->
    <script src="../static/js/scripts.js"></script>

</body>
</html>


